*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 70px;
    display: flex;
    background-color: rgb(86, 209, 231);
    align-items: center;
    /* justify-content: space-between; */
    gap: 150px;
    /* max-width: 100%; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    
}
.nav a{
    text-decoration: none;
    /* font-size: 15px; */
    text-transform: uppercase;
    margin: 30px;
    color: black;
}
.nav a:hover{
    border-bottom: 0.5px black solid;
    letter-spacing: 1px;
    transition:0.5s ease-in-out;
}

.left .logo img{
    height: 90px;
    width: 100px;
    /* align-items: center; */
}
.left{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    /* margin-left: -200px; */
}

.hum{
    display: none;
    /* visibility: hidden; */
    margin-right: 20px;
}

.home{
    background-image: url('pic/350135340_6096937853737842_3238888900675905203_n.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /* margin-top: 50px; */
    height: 755px;
    max-width: 100%;
}
.home{
    display: flex;
    align-items: center;
    margin-top: 30px;

}
.home .contain h1{
    font-size: 30px;
    color: #2f00ff;
    padding: 20px;
}
.home .contain p{
    font-size: 30px;
    color: rgb(5, 255, 5);
    font-weight: 600;
    padding: 20px;
}
.home .contain button{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.home .contain button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
.home .contain button:focus{
    outline: none;
}

.home .contain button{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    
}
.brand{
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 630px;
}
.container p{
    text-align: center;
    font-size: 15px;
}

.container img{
    width: 400px;
}












@media (max-width:400px){

    .home .contain h1{
        font-size: 30px;
    }
    .home .contain p{
        font-size: 20px;
        color: green;
    }
    .home .contain button{
        width: 100px;
    }
    /* .home{
        height: 670px;
    } */
    .home .contain{
        margin-top: 200px;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 70px;
        right: -100%;
        padding: 10px;
        height: 400px;
        width: 130px;
        background-color:rgb(86, 209, 231);
        font-size: 18px;
        transition: 0.5s ease-out;
    }
    .active{
        right: 0;
    }
    .hum{
        display: inline-block;
        
    }
    .nav a:hover{
    border-bottom: 0.5px black solid;
    letter-spacing: 1px;
    transition:0.5s ease-in-out;
}

}